.catalog-container {
  padding: 35px 25px 35px 25px;

  :after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .catalog-item-container {
    text-align: left;
    float: left;
    display: inline-block;
    margin-left: calc((100% - 1000px) / 4);
  }

  :nth-child(4n - 3).catalog-item-container  {
    margin-left: calc((100% - 1000px) / 8);
  }

  span {
    display: inline-block;
  }
}
