.catalog-container {
  height: calc(100% - 150px);
  overflow-y: auto;

  .catalog-item-container {
    cursor: pointer;
    margin-bottom: 30px;

    .image-container {
      width: 250px;
      margin: auto;

      img:hover {
        opacity: .6;
      }
    }

    .product-label {
      font-size: 15px;
      width: 250px;
      line-height: 35px;
      background-color: white;
      padding: 0 10px 0 10px;
      font-weight: bold;
      margin: auto;

      .price {
        padding-left: 15px;
        box-shadow: -2px 0 4px 0px #888;
      }
    }
  }
}
