.checkout-container {
  height: 100%;

  .checkout-details {
    height: 100%;
  }

  .cart-overview {
    min-height: 230px;
    max-height: 500px;

    .cart-content {
      max-height: 380px;
      margin-top: 10px;
      overflow-y: auto;
    }
  }

  .customer-info {
    min-height: 230px;
    max-height: calc(100% - 225px);
    overflow-y: auto;

    .section {
      margin-bottom: 20px;
    }
  }

  .completion-info {
    padding: 65px;

    h1 {
      margin-bottom: 50px;
    }

    p {
      font-size: 22px;
      margin-bottom: 35px;
    }

    button {
      margin-top: 10px;
      height: 30px;
    }
  }
}

.section-header {
  font-size: 30px;
  font-weight: bold;
}
