.product-detail-container {
  height: calc(100% - 125px);
  overflow-y: auto;

  .details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    > div {
      width: 50%;
      display: inline-block;
      vertical-align: middle;

      img {
        border-radius: 15px;
        box-shadow: -5px 5px 5px 0px #888;
      }
    }
  }

  .product-info {
    padding: 70px;
    box-shadow: 5px 5px 5px 0px #888;

    h1 {
      margin-top: 10px;
      margin-bottom: 65px;
    }

    .description {
      font-size: 22px;
      margin-bottom: 65px;
    }
  }

  .add-to-cart {
    width: 100%;
    margin-bottom: 0 !important;

    > div {
      display: inline-block;
    }

    > button {
      height: 30px;
      margin-left: 75px;
      vertical-align: top;
    }
  }
}
