.product-detail-container {
  padding: 35px 25px 35px 25px;

  .details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    > div {
      width: 50%;
      display: inline-block;
      vertical-align: middle;

      img {
        border-radius: 15px;
        box-shadow: -5px 5px 5px 0px #888;
      }
    }
  }

  .product-info {
    padding: 70px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px #888;

    :first-child {
      margin-bottom: 60px;
    }
  }
}
