.product-detail-container {
  padding: 35px 25px 35px 25px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  > div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    img {
      border-radius: 15px;
      box-shadow: -5px 5px 5px 0px #888;
    }
  }

  .product-info {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px #888;
  }
}
